<div class="wrapper">
  <div class="title-container">
    <div class="title">
      <h1>Shop Your Favorite Tea</h1>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="product">
    <div class="top-block">
      <div class="nav-block">
        <a routerLink="/">Home</a> /
        <span>Hibiscus Flower</span>
      </div>
      <div class="bottom-block">
        <div class="product-img">
          <img
            src="../../../../assets/img/test-product2.png"
            width="100%"
            height="420px"
            alt="product-img"
          />
        </div>
        <div class="product-info">
          <div class="product-info__product-name">
            <p>Hibiscus Flower</p>
          </div>
          <div class="product-info__product-price">
            <p>$7.00</p>
          </div>
          <div class="product-info__product-description">
            <p>
              I'm a product description. I'm a great place to add more details
              about your product such as sizing, material, care instructions
            </p>
          </div>
          <div class="product-info__product-size">
            <p>Size</p>
            <select name="size_selection" class="product-info__size-selection">
              <option value="size_125">125Gr</option>
              <option value="size_250">250Gr</option>
            </select>
          </div>
          <div class="product-info__product-quantity">
            <p>Quantity</p>
            <input type="number" min="1" [defaultValue]="1" />
          </div>
          <div class="product-info__product-description"></div>
          <div class="product-info__btn-container">
            <button class="product-info__add-to-card-btn">Add to Card</button>
            <button class="product-info__by-now-btn">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info__info-block">
      <h4>Product Info</h4>
      <p>
        I'm a product detail. I'm a great place to add more information about
        your product such as sizing, material, care and cleaning instructions.
        This is also a great space to write what makes this product special and
        how your customers can benefit from this item.
      </p>
    </div>
    <div class="info__info-block">
      <h4>Return & Refund Policy</h4>
      <p>
        I’m a return and refund policy. I’m a great place to let your customers
        know what to do in case they are dissatisfied with their purchase.
        Having a straightforward refund or exchange policy is a great way to
        build trust and reassure your customers that they can buy with
        confidence.
      </p>
    </div>
    <div class="info__info-block">
      <h4>Shipping Info</h4>
      <p>
        I'm a shipping policy. I'm a great place to add more information about
        your shipping methods, packaging and cost. Providing straightforward
        information about your shipping policy is a great way to build trust and
        reassure your customers that they can buy from you with confidence.
      </p>
    </div>
  </div>
</div>
