<div class="wrapper">
  <form [formGroup]="options" (submit)="onSubmit()">
    <div class="product">
      <div class="top-block">
        <div class="product__img">
          <img
            [src]="data.product.img"
            alt="product img"
            width="80%"
            height="auto"
          />
        </div>
        <div class="product__info">
          <div class="info-block">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
          </div>
          <div class="info-block">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Kind:</mat-label>
              <input matInput formControlName="kindName" />
            </mat-form-field>
          </div>
          <div class="info-block">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Price:</mat-label>
              <input matInput formControlName="price" />
            </mat-form-field>
          </div>
          <div class="info-block">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Origin:</mat-label>
              <input matInput formControlName="origin" />
            </mat-form-field>
          </div>
          <div class="info-block">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Weight:</mat-label>
              <input matInput formControlName="weight" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="bottom-block">
        <div class="info-block">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description:</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button class="submit-btn">Save</button>
    </div>
  </form>
</div>
