.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__img {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 20px;
}
.product__info {
  width: 60%;
}
.info-block {
  margin-top: 10px;
}
.info-block textarea {
  padding: 10px;
  height: 150px;
  resize: none;
}
.full-width {
  width: 100%;
}
.submit-btn {
  width: 200px;
}
