<div class="wrapper">
  <div class="top-block">
    <section class="section">
      <h3 class="section__section-title">
        Get to Know <br />
        World of Tea Better
      </h3>
      <ul class="section__section-list" *ngFor="let item of navBar">
        <li>{{ item }}</li>
      </ul>
      <div class="section__link">
        <p>Visit Our Stores</p>
      </div>
      <div class="section__contact-phone">
        <p>Customer service: 123-456-7890</p>
      </div>
    </section>
    <section class="section">
      <h3 class="section__section-sub-title">Help</h3>
      <div class="section__under-title-line"></div>
      <ul class="section__section-list">
        <li>FAQ</li>
        <li>Shipping & Returns</li>
        <li>Store Pilicy</li>
        <li>Payment Methods</li>
      </ul>
    </section>
    <section class="section">
      <h3 class="section__section-sub-title">Follow Us</h3>
      <div class="section__under-title-line"></div>
      <ul class="section__section-list">
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Pinterest</li>
      </ul>
    </section>
  </div>
  <div class="line"></div>
  <div class="line line_bold"></div>

  <div class="bottom-block">
    <p>&copy;2021 by World of Tea. Created by Owaap</p>
  </div>
</div>
