@mainTextColor: #242a35;
@BaseFontSize: 18px;
.wrapper {
  background-color: rgb(232, 232, 233);
}
.top-block,
.bottom-block {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
}
.top-block {
  width: 100%;
  padding: 65px 0;

  display: flex;
  justify-content: space-evenly;
}
.line {
  height: 0.5px;
  background-color: rgb(124, 124, 124);
}
.line_bold {
  margin-top: 5px;
  height: 1.5px;
  background-color: @mainTextColor;
}
.section__section-title {
  font-size: 39px;
  line-height: 40px;
  color: @mainTextColor;
}
.section__section-sub-title,
.section__section-title {
  font-style: italic;
}
.section__section-sub-title {
  margin-top: 40px;
  font-size: 22px;
}
.section__section-list {
  margin-top: 35px;

  li {
    color: @mainTextColor;
    margin-bottom: 10px;
    font-size: @BaseFontSize;
    &:last-child {
      margin: 0;
    }
  }
}
.section__under-title-line {
  margin-top: 10px;
  height: 0.5px;
  background-color: @mainTextColor;
  width: 65%;
}
.section__link {
  margin-top: 30px;
  text-decoration: underline;
  font-size: @BaseFontSize;
  color: @mainTextColor;
}
.section__contact-phone {
  margin-top: 10px;
  color: @mainTextColor;
  font-size: @BaseFontSize;
}
.bottom-block {
  padding: 30px;
  font-size: 17px;
  color: rgb(151, 151, 151);
  letter-spacing: 2px;
}
@media screen and (max-width: 992px) {
  .top-block {
    padding: 40px 35px;
  }
  .section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  footer {
    .top-block {
      padding: 5px;
    }
    .section__section-title {
      font-size: 25px;
      line-height: 25px;
    }
    .section__under-title-line {
      width: 95%;
    }
    .section__section-list {
      margin-top: 20px;
    }
    .section__contact-phone {
      font-size: 15px;
    }
    .line {
      margin-top: 10px;
    }
    .line_bold {
      margin-top: 5px;
    }
  }
  .section__contact-phone {
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .top-block {
    flex-direction: column;
  }
}
