.product-list {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product-list__product {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.product__product-name {
  margin-top: 15px;
  font-size: 25px;
  font-style: italic;
  color: #626b78;
}
.product__product-price {
  margin-top: 10px;
  font-size: 19px;
  color: #626b78;
}
.product__to-card-btn {
  width: 92%;
  height: 40px;
  margin-top: 15px;
  padding: 5px 0;
  text-align: center;
  background-color: #242a35f1;
  color: #eee;
  font-size: 15px;
  transition: all 0.2s linear;
}
.product__to-card-btn:hover {
  background-color: #242a35a6;
}
