.product-list {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
}
.product-list__product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #eae9eb;
  cursor: pointer;
}
.product-list__product:hover .product__product-img {
  bottom: 30px;
}
.product__product-img {
  width: 60%;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease;
}
.product__product-name {
  margin-top: 15px;
  font-size: 25px;
  font-style: italic;
}
.product__product-price {
  margin-top: 10px;
  font-size: 19px;
}
@media screen and (max-width: 992px) {
  .product-list {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
