.product-list {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}
.product__product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list__product {
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color: #eae9eb;
  border-radius: 5px;
}
.product-list__product:hover .product__img-container {
  bottom: 30px;
}
.product__info {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__img-container {
  padding: 20px 0;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease;
}
.product__img-container img {
  max-height: 200px;
}
.product__product-name {
  font-size: 20px;
  font-style: italic;
  color: #626b78;
}
.product__product-price {
  margin-top: 10px;
  font-size: 19px;
  color: #626b78;
}
.product__to-card-btn {
  margin: 20px 0;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  background-color: #242a35f1;
  color: #eee;
  font-size: 15px;
  transition: all 0.2s linear;
}
.product__to-card-btn:hover {
  background-color: #242a35a6;
}
@media screen and (max-width: 992px) {
  .product-list {
    padding: 10px 5px;
    grid-gap: 1em;
  }
  .sidebar {
    padding: 10px;
  }
  .product__product-name {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebar {
    min-width: 160px;
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
