.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.to-shop-link {
  font-size: 20px;
}
table {
  width: 80%;
  th,
  td {
    text-align: center;
  }
}
.img-container {
  padding: 20px;
}
.quantity-product {
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  text-align: center;

  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}
.delete-icon {
  font-size: 22px;
}
