<div class="wrapper">
  <div class="title-container">
    <div class="title">
      <h1>Shop Your Favorite Tea</h1>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="sidebar">
    <div class="filter-container">
      <p class="filter-title">Filter by</p>
      <div class="filter-item">
        <div class="filter-item__title">
          <p>Kinds of Tea</p>
          <div class="filter-item__more-btn"></div>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item__title">
          <p>Price</p>
          <button class="filter-item__more-btn">
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item__title">
          <p>Size</p>
          <button class="filter-item__more-btn">
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="product-list"></div>
</div>
