.wrapper {
  background: url("../../../../assets/img/background3.jpeg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
}
.title-container {
  height: 100%;
  position: relative;
}
.title {
  position: relative;
  top: 55%;
  text-align: center;
  color: #eee;
  font-style: italic;
}
.title h1 {
  font-size: 45px;
}
.main-content {
  margin: 100px auto 0;
  max-width: 1000px;
}
.top-block {
  margin-top: 30px;
  font-size: 16px;
}
.nav-block a {
  color: #6d737a;
}
.nav-block span {
  color: #6d737aab;
}
.bottom-block {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-img {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.788);
}
.product-info {
  width: 40%;
  padding: 5px 20px;
}
.product-info__product-name {
  font-size: 36px;
  line-height: 45px;
  font-style: italic;
}
.product-info__product-price {
  margin-top: 20px;
  font-size: 18px;
  color: #6d737a;
}
.product-info__product-description {
  margin-top: 25px;
  color: #6d737a;
  line-height: 30px;
  font-size: 16px;
}
.product-info__product-size {
  margin-top: 25px;
  color: #6d737a;
  font-size: 17px;
}
.product-info__size-selection {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #c4c4c4;
  color: #6d737a;
  font-size: 15px;
}
.product-info__product-quantity {
  margin-top: 25px;
  color: #6d737a;
  font-size: 17px;
}
.product-info__product-quantity input {
  margin-top: 10px;
  border: 1px solid #c4c4c4;
  height: 45px;
  padding: 10px;
  font-size: 18px;
  color: #6d737a;
  width: 80px;
}
.product-info__btn-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.product-info__add-to-card-btn,
.product-info__by-now-btn {
  height: 40px;
  border: 1px solid #242a35;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
}
.product-info__add-to-card-btn {
  background-color: #242a35;
  color: #eee;
}
.info {
  margin-top: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
}
.info__info-block {
  padding: 25px;
  line-height: 27px;
  border-right: 1px solid #6d737a;
}
.info__info-block:last-child {
  border: none;
}
.info__info-block h4 {
  font-size: 21px;
  font-style: italic;
}
.info__info-block p {
  margin-top: 10px;
  font-size: 15px;
  color: #929292;
}
