.wrapper {
  background: url("../../../../assets/img/background3.jpeg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 45px;
  color: #eee;
  font-style: italic;
}
.categorys-container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.categorys-container__category {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #e0e2e7d3;
}
.category__title {
  margin-left: 20px;
  font-size: 32px;
  color: #626b78;
  font-style: italic;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  min-width: 240px;
  padding: 20px;
}
.filter-title {
  color: #242a35cc;
  font-size: 28px;
  font-style: italic;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(206, 206, 206, 0.76);
}
.filter-item {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(206, 206, 206, 0.76);
}
.filter-item__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #242a35cc;
  font-size: 18px;
  font-style: italic;
}
.filter-item__more-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-position: center;
  background-size: 50% 1.5px, 1.5px 50%;
  background-repeat: no-repeat;
}
.products {
  width: 100%;
}
