<div class="wrapper">
  <div class="back-btn" routerLink="/">
    <fa-icon [icon]="backBtnIcon"></fa-icon>
  </div>
  <div class="main-content" *ngIf="isLogined">
    <div class="title">
      <h1>Sign In</h1>
    </div>
    <p class="sub-title">
      New to this site?<button (click)="isReg()">Sign Up</button>
    </p>
    <form class="form">
      <label class="label">
        Email
        <input type="email" name="user_email" [(ngModel)]="email" />
      </label>
      <label class="label">
        Password
        <input
          type="password"
          name="user_password"
          [(ngModel)]="password"
          autocomplete
        />
      </label>
      <a>Forgot password?</a>
      <input
        type="submit"
        value="Sign Up"
        class="login-btn"
        (click)="onSignIn()"
      />
    </form>
  </div>

  <div class="main-content" *ngIf="!isLogined">
    <div class="title">
      <h1>Sign Up</h1>
    </div>
    <p class="sub-title">
      Already registered? <button (click)="isLog()">Sign In</button>
    </p>

    <form class="form">
      <label class="label">
        Email
        <input type="email" name="user_email" [(ngModel)]="newUser_email" />
      </label>
      <label class="label">
        Password
        <input
          type="password"
          name="user_password"
          [(ngModel)]="newUser_password"
          autocomplete
        />
      </label>
      <a>Forgot password?</a>
      <input
        type="submit"
        value="Sign Up"
        class="login-btn"
        (click)="onSignUp()"
      />
    </form>
  </div>
  <button (click)="logout()">logout</button>
</div>
