.wrapper {
  background: url("../../../../assets/img/background4.jpeg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
}
.title-container {
  height: 100%;
  position: relative;
}
.title {
  position: relative;
  top: 55%;
  text-align: center;
  font-size: 45px;
  color: #eee;
  font-style: italic;
}
