<div class="container">
  <div class="container__top-block top-block">
    <div class="top-block__search-block">
      <fa-icon class="search-block__search-img" [icon]="searchImg"></fa-icon>
      <input
        class="search-block__search-field"
        type="text"
        placeholder="Search..."
      />
    </div>
    <app-main-title-link *ngIf="isTablet"></app-main-title-link>

    <div class="top-block__interactive-block">
      <div class="log-in" routerLink="/login">
        <fa-icon class="log-in-img" [icon]="userImg"></fa-icon>
        <a>Log in</a>
      </div>
      <div class="basket" routerLink="/basket">
        <span class="basket__products-count">1</span>
        <fa-icon [icon]="basketImg" class="basket__basket-img"> </fa-icon>
      </div>
    </div>
  </div>
  <div class="container__bottom-block bottom-block">
    <div class="bottom-block__nav-block">
      <nav>
        <ul class="nav-list">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Home
            </a>
          </li>
          <li>
            <a routerLink="/teas" routerLinkActive="active">Teas</a>
          </li>
          <li>
            <a routerLink="/accessories" routerLinkActive="active"
              >Accessories
            </a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <app-main-title-link *ngIf="!isTablet"></app-main-title-link>
    <div class="bottom-block__social-block">
      <ul class="social-list">
        <li>fsbk</li>
        <li>inst</li>
        <li>pint</li>
      </ul>
    </div>
  </div>
</div>
<app-header-mobile *ngIf="isMobile"></app-header-mobile>
