<div class="wrapper">
  <div class="bg-img">
    <div class="title-wrapper">
      <div class="title-container">
        <div class="title-container__title">Welcome to the world of tea</div>
        <button class="title-container__toShop-btn" routerLink="/teas">
          Shop now
        </button>
      </div>
    </div>
  </div>
</div>
<div class="page-title-wrapper">
  <div class="page-title-container">
    <div class="page-title-container__top-block">
      <div class="page-title-container__title-line"></div>
      <h2 class="page-title-container__title">New in Assortment</h2>
      <div class="page-title-container__title-line"></div>
    </div>
    <div class="page-title-container__sub-title">
      <p>Meet the line of herbal teas. Perfect for evening tea</p>
    </div>
  </div>
</div>
<app-new-products-list></app-new-products-list>
<div class="btn-container">
  <button class="to-shop-btn" routerLink="/teas">Shop All</button>
</div>
<div class="tea-blog">
  <div class="tea-blog-img">
    <h3 class="tea-blog__blog-title">Read Our Blog</h3>
  </div>
</div>
<div class="quotes-container">
  <div class="top-block"></div>
  <div class="quotes">
    <div class="quotes__quotes-text">
      <p>
        “I'm a testimonial. Click to edit me and add text that says something
        nice about you and your services.”
      </p>
    </div>
    <div class="quotes__quotes-author">
      <p>Ella Davidson</p>
    </div>
  </div>
</div>
