<div class="wrapper">
  <div class="sidebar">
    <div class="to-home">
      <a routerLink="/">
        <fa-icon [icon]="toHomeIcon" class="to-home-icon"></fa-icon>
        Back to home page
      </a>
    </div>
    <div
      class="sidebar__user-info"
      (click)="openUserInfo()"
      [ngClass]="{ active: !orderHistory }"
    >
      <fa-icon [icon]="userIcon" class="userIcon"></fa-icon>
      <div class="text">
        <div class="user-name">uid: {{ loginedUser.uid }}</div>
        <div class="user-email">{{ loginedUser.email }}</div>
      </div>
    </div>
    <button mat-raised-button class="log-Out" (click)="logOut()">
      log Out
    </button>
    <div class="line"></div>
    <div
      class="sidebar__user-purchase-history"
      (click)="openOrderHistory()"
      [ngClass]="{ active: orderHistory }"
    >
      <fa-icon [icon]="historyIcon" class="history-icon"></fa-icon>
      Purchase history
    </div>
  </div>
  <div class="content-wrapper">
    <app-order-history *ngIf="orderHistory"></app-order-history>
    <div class="main-content" *ngIf="!orderHistory">
      <h2>Personal information</h2>
      <div class="content">
        <div class="content__top-block">
          <div class="content__title-text">
            <fa-icon [icon]="userIcon" class="userIcon"></fa-icon>
            <h3>Personal information:</h3>
          </div>
        </div>
        <div class="container" *ngIf="!isEdit">
          <div class="info-block">
            <p class="info-block__title">Name</p>
            <p class="info-block__value">{{ userInfo?.info?.name }}</p>
          </div>
          <div class="info-block">
            <p class="info-block__title">Surname</p>
            <p class="info-block__value">{{ userInfo?.info?.surname }}</p>
          </div>
          <div class="info-block">
            <p class="info-block__title">Middle name</p>
            <p class="info-block__value">{{ userInfo?.info?.middleName }}</p>
          </div>
          <div class="info-block">
            <p class="info-block__title">Phone number</p>
            <p class="info-block__value">{{ userInfo?.info?.phoneNumber }}</p>
          </div>
          <div class="info-block">
            <p class="info-block__title">Date of birth</p>
            <p class="info-block__value">{{ userInfo?.info?.dateBirth }}</p>
          </div>
          <div class="info-block">
            <p class="info-block__title">Sex</p>
            <p class="info-block__value">{{ userInfo?.info?.sex }}</p>
          </div>
        </div>
        <app-cabinet-new-user-data *ngIf="isEdit"></app-cabinet-new-user-data>
      </div>
    </div>
  </div>
</div>
