<div class="container">
  <div class="info-block">
    <p class="info-block__title">Name</p>
    <p class="info-block__value">{{ user.info.name }}</p>
  </div>
  <div class="info-block">
    <p class="info-block__title">Surname</p>
    <p class="info-block__value">{{ user.info.surname }}</p>
  </div>
  <div class="info-block">
    <p class="info-block__title">Middle name</p>
    <p class="info-block__value">{{ user.info.middleName }}</p>
  </div>
  <div class="info-block">
    <p class="info-block__title">Phone number</p>
    <p class="info-block__value">{{ user.info.phoneNumber }}</p>
  </div>
  <div class="info-block">
    <p class="info-block__title">Date of birth</p>
    <p class="info-block__value">{{ user.info.dateBirth }}</p>
  </div>
  <div class="info-block">
    <p class="info-block__title">Sex</p>
    <p class="info-block__value">{{ user.info.sex }}</p>
  </div>
</div>
